#employee-div {
    max-width: 1440px;
}
#employee-div>h2, #employee-div>a {
    margin-left: auto;
    margin-right: auto;
    max-width: 560px !important;
}
a:link {
  color: blue;
}

a:visited {
  color: purple;
}

a:hover {
  color: green;
}

a:active {
  color: red;
}

a:focus {
  background-color: yellow;
}
